<div class="container">
  <app-menu></app-menu>
  <div class="text-container">
    <h1>References</h1>
    <ol>
      <li><p>Balcells-Diaz E, Daunis IE. Shoulder strength value differences between genders and age groups. J.Shoulder.Elbow.Surg. 2017 des 18;(1058-2746 (Linking)). </p></li>
      <li><p>Blonna D, Scelsi M, Marini E, Bellato E, Tellini A, Rossi R, et al. Can we improve the reliability of the Constant-Murley score? J.Shoulder.Elbow.Surg. 2012 gen;21(1058-2746 (Linking)):4-12. </p></li>
      <li><p>Constant CR. Age Related Recovery of Shoulder Function After Injury. 1986;</p></li>
      <li><p>Constant CR. An evaluation of the Constant-Murley shoulder assessment. J.Bone Jt. Surg.Br. 1997 jul;79(0301-620X (Linking)):695-696. </p></li>
      <li><p>Constant CR, Gerber C, Emery RJ, Sojbjerg JO, Gohlke F, Boileau P. A review of the Constant score: modifications and guidelines for its use.[see comment]. J. Shoulder.& Elbow.Surgery.17(2)355.-61.,. 2008 març; Apr. </p></li>
      <li><p>Constant CR, Murley AH. A clinical method of functional assessment of the shoulder. Clin. Related.Research.(214.)160.-4,. 1987 gen;</p></li>
      <li><p>Katolik LI, Romeo AA, Cole BJ, Verma NN, Hayden JK, Bach BR. Normalization of the Constant score. J.Shoulder.Elbow.Surg. 2005 maig;14(1058-2746 (Linking)):279-285. </p></li>
      <li><p>Kristensen MT, Aagesen M, Hjerrild S, Lund Skov LP, Hovmand B, Ban I. Reliability and agreement between 2 strength devices used in the newly modified and standardized Constant score. J.Shoulder.Elbow.Surg. 2014 des;23(1058-2746 (Linking)):1806-1812. </p></li>
    </ol>
  </div>
</div>