<div class="container">
  <app-menu></app-menu>
  <div class="text-container">
    <h1>How is shoulder strength measured?</h1>
    <p>In 2008, a group of experts of the Research and Development Committee 
      of the European Society of Shoulder and Elbow Surgery, published a set 
      of modifications and guidelines regarding the measurement of the Constant 
      Score<a href="/references"><sup>5</sup></a>.</p>
    <p>In particular, regarding strength measurement they released a set of guidelines 
      to which we encourage adherence:</p>
    <ul>
      <li><p>A digital dynamometer is attached distal on the forearm.</p></li>
      <li><p>A strap is applied to the level of the wrist.</p></li>
      <li><p>Strength is measured with the arm in 90 degrees of elevation in the plane of the scapula (20 degrees in front of the coronal plane) and elbow straight.</p></li>
      <li><p>Palm of the hand facing the floor (pronation).</p></li>
      <li><p>The patient is asked to maintain this resisted elevation for 5 seconds.</p></li>
      <li><p>It is repeated 3 times with at least a minute in between pulls.</p></li>
      <li><p>The highest reading is noted.</p></li>
      <li><p>If the patient is unable to achieve 90 degrees of elevation in the scapula plane the patient gets 0 points.</p></li>

    </ul>
  </div>
</div>