<div class="container">
  <app-menu></app-menu>
  <div class="text-container">
    <h1>What is the Constant Score?</h1>
    <p>The "Constant Score", CS for short, is a shoulder function measurement tool developed by Christopher Constant while working in 
      his Master of Surgery thesis published in 1986<a href="/rferences"><sup>3</sup></a>. Since then, its use has become widely spread and in 1992, the European Society 
      of Shoulder and Elbow surgery recommended its use in publications and communications.</p>
    <p>The Constant Score scoring system has four variables which are given a value according to a detailed items grid that adds up 
      to 100.</p>
    <p>From a perfect score of 100, it allocates 35 points for self-reported subjective assessment, including the presence of pain and 
      the ability to perform activities of daily living, and 65 points for objective measurement, including 40 points allocated to range
       of motion and 25 points allocated to strength<a href="/rferences"><sup>6</sup></a>.</p>
    <p>You will find a Constant Score calculator on this website.</p>
  </div>
</div>