<div class="container">
  <div class="title">
    <h1>MENU</h1>
  </div>
  <div [routerLink]="['/calculator']" class="menu-item">
    <h2>Calculator</h2>
  </div>
  <div [routerLink]="['/constant-score']" class="menu-item">
    <h2>What is the constant score</h2>
  </div>
  <div [routerLink]="['/strength-normalized-constant-score']" class="menu-item">
    <h2>What is the strength normalized constant score</h2>
  </div>
  <div [routerLink]="['/how-to-measure-shoulder-strength']" class="menu-item">
    <h2>How should I measure shoulder strength</h2>
  </div>
  <div [routerLink]="['/references']" class="menu-item">
    <h2>References</h2>
  </div>
  <div [routerLink]="['/disclaimer']" class="menu-item">
    <h2>Disclaimer</h2>
  </div>
</div>