<div class="container">
  <app-menu></app-menu>
  <div class="text-container">
    <h1>What is the Strength Normalized Constant Score (snCS)?</h1>
    <p>Since its description, some aspects of the CS have been controversial, 
      in particular, the 25 points given to the objective measure of strength, 
      because the strength of the normal shoulder could be different by gender 
      and decrease by age, so the CS would be decreased although could be 
      reflecting a normal function<a href="/rferences"><sup>4</sup></a>,<a href="/rferences"><sup>2</sup></a>,<a href="/rferences"><sup>8</sup></a>,<a href="/rferences"><sup>7</sup></a>.</p>
    <p>The strength component of the CS accounts for 25% of the total score, it 
      is therefore a very significant part of the whole score and the methodology 
      of obtaining and interpreting it is very relevant. Perhaps this would be better 
      explained with an example of everyday practice. Let's say that we have operated 
      on an 85 years old lady after a four parts fracture of the humeral head, and one 
      year later we obtain a shoulder strength reading of 5. That would probably be a 
      good or very good result, strength wise. Now, let's say that we obtain the same 
      value one year after the repair of the rotator cuff in a 22 years old construction 
      worker. These same 5 points in the strength section of the CS, wouldn't count as a 
      very good result at all for him.</p>
    <p>The CS without standardization is a useful tool to monitor a particular patient in 
      time but, as the example above shows, it has no meaning comparing two patients results, 
      let alone comparing groups or series of patients.</p>
    <p>So, we present you with a strength normalized Constant Score (snCS) calculator based on 
      work previously published at the JSES that describes how of shoulder strength decreases 
      with age and how this variation is different for both genders<a href="/rferences"><sup>1</sup></a>.</p>

    <h2>What is the strength normalized Constant Score (snCS) for?</h2>
    <p>If you need to monitor progress in a single patient, the “raw” Constant Score might be just fine.</p>
    <p>If you want to compare your patient progress with other’s patients, you will need to account for 
      differences in gender or age, otherwise the measurements might mislead you. We advise you to use the snCS.</p>
    <p>If you want to compare a group of patients Constant Score’s to another, unless you use the snCS, the 
      comparison might be meaningless, because shoulder strength decreases with age and decreases differently for 
      males than for females.</p>
    <p>The snCS takes this different age variations into account and allow the comparison to be meaningful.</p>
  </div>
</div>